@import url("https://use.typekit.net/dqj3pnj.css");

*{
  box-sizing: border-box;
}

body {
  background-color: #344572;
  color: #F1F2F4;
  font-family: lato,sans-serif;
  font-weight: 300;
  font-style: normal;
}

main {
  width: 70%;
  margin: 0 auto;
  padding: 0 20px;
  /* background-color: #fff; */
}

h3 {
  text-align: center;
  margin-top: 0;
}


hr {
  margin-bottom: 10px;
}

.scores {
  margin-top: 16px;
  font-weight: bold;
}

#holeCount {
  font-weight: bold;
}

/* INTRO
====================== */
.modal-wrapper {
  width: 69%;
  margin: 20vh auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2A395E;
  padding: 20px;
}

.form-wrapper {
  margin-bottom: 2rem;
}

#gameKey-button {
  width: 5rem;
}

/* SCORES
======================*/
#scoreboard {
  position: fixed;
  width: 220px;
  right: 2rem;
  top: 2rem;
  padding: 16px;
  background-color: #2a395e;
  color: #fff;
  z-index: 20;
  border: 1px solid #000;
}

.score1, .score2, .gameKey  {
  margin-bottom: 8px;
}


/*#score1-counter, #score2-counter {
  width: 3.5rem;
}*/

/* CONTROLS
================= */
button {
  background-color: #192954;
  color: #fff;
  padding: 10px;
  border: 1px solid #dbb20f;
  border-radius: 30px;
  margin: 10px 0;
  cursor: pointer;
}

#controls-wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: 1px solid #000;
  background-color: #2a395e;
  width: 500px;
}

#dest {
  margin-right: 35px;
}

#deal {
  z-index: 100;
  margin-right: 30%;
}

#deal, #next, #new {
  margin-top: 80px;
}

.buttonInactive {
  opacity: 0.2;
  cursor: not-allowed;
}

#pass {
  margin-right: 5px;
}

#player1-wrapper, #player2-wrapper, #player3-wrapper, #player4-wrapper {
  margin: 15px 0;
  background-color: #2A395E;
  border: 1px solid #000;
  padding: 10px;
}

#player2-wrapper, #player4-wrapper {
  border: none !important;
}

#player1Score, #player2Score, #player3Score, #player4Score {
  font-weight: bold;
}



.hand-wrapper {
  display: flex;
  justify-content: space-around;
}

/* PLAY CONTAINER 
========================*/

.play-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2A395E;
  padding: 15px 30px;
  border: 1px solid #000;
}

.pots-wrapper {
  display: flex;
  flex-direction: column;
  flex-basis: 80%;
  justify-content: center;
  align-items: center;
}

.starter {
  width: 200px;
  justify-content: center;
  align-items: center;
  margin: 48px 50px 0px 50px;
  position: relative;
}

.instructions {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9;
  background: #344572;
  text-align: center;
/*  vertical-align: middle;
  display: inline-block;*/
  line-height: 100px; 
}

.instructions > span {
  display: inline-block;
  line-height: 18px;
  padding: 10px;
}

/* =================
    HAND WRAPPERS
=================== */
.player1-wrapper, .player2-wrapper, .player3-wrapper, .player4-wrapper {
  border: none;
  background-color: #344572;
  padding: 5px 10px;
  display: flex;
  height: 180px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.player1-wrapper, .player2-wrapper, .player3-wrapper, .player4-wrapper {
  width: 214px;
}

.player-controls {
  justify-content: space-between;
  align-items: baseline;
}

/*=============
    BUTTONS
==============*/
.show-crib-1, .show-crib-2 {
  width: 125px;
}

/*==============
     CURTAINS
=================*/
.hand1-curtain, .crib1-curtain, .hand2-curtain, .crib2-curtain {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8da5e2;
  position: absolute;
  width: 93%;
  height: 84%;
  left: 3%;
  top: 8%;
  background-color: #5069b1;
  font-size: 1.5rem;
  letter-spacing: 5px;
  font-family: sans-serif;
  font-weight: 700;
  pointer-events: none;
}

/* card holders */
.player1, .player2, .player3, .player4 {
  display: inline-block;
  padding: 5px;
  margin: 5px auto;
  justify-content: center;
  height: 100%;
}


.player1-pot, .player2-pot, .starter {
  border: none;
  background-color: #344572;
  padding: 5px 10px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player1-pot, .player2-pot {
  width: 277px;
}

.crib {
  width: 134px;
}

.card {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  
  font-family: essential-pragmatapro, sans-serif;
  font-weight: 700;
  font-style: normal;

  background-color: #fff;
  color: #000;
  text-align: center;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  height: 70px;
  width: 51px;
  box-shadow: 0 0 5px rgba(0,0,0,0);
}

.value {
  font-size: 1.5em;
}

.Diamonds, .Hearts, .Clubs, .Spades, .Joker {
  /* background-color: #FF6E6B; */
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center 35px;
}

.selected {
  box-shadow: 0 0 20px rgba(255,255,255,1);
}

.Clubs {
  background-image: url('suits_imgs/Clubs.png');
}

.Spades {
  background-image: url('suits_imgs/Spade.png');
}

.Joker {
  background-image: url('suits_imgs/joker.png');
  background-size: 60px;
  background-position: center;
}

.Diamonds {
  background-image: url('suits_imgs/Diamond.png');
}

.Hearts {
  background-image: url('suits_imgs/Heart.png');
}

.hide {
  background-image: url("suits_imgs/Back.png") !important;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.noClick {
  pointer-events: none;
}

/* 
========================
         MODAL STYLES
======================= */

.modal {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.6);
  z-index: 20;
}

.modal-content {
  width: 40%;
  position: relative;
  margin: 10% auto;
  background-color: #2A395E;
  box-sizing: border-box;
  padding: 2em;
  border-radius: 1em;
  border: 1px solid #000;
}

.modal-content a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid;
}

.modal-close {
  position: absolute;
  right: 2em;
  top: 1em;
  cursor: pointer;
  background-color: #fff;
  color: #000;
  font-weight: 400;
  border: 1px solid #000;
  border-radius: 60%;
  height: 1px;
  padding: 12px;
  width: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide-modal {
  display: none;
}


#scores {
  width: 100%;
  text-align: center;
}

.score {
  margin-bottom:  8px;
}

/* MOBILE  STYLES */

/* tablet styles */
@media only screen and (max-width: 769px) {

  /* Modal mobile styles */
  .modal-content {
    width: 80%;
  }

  main {
    width: 100%;
    padding: 0;
  }

  .card {
    padding: 3px;
    margin: 3px;
    height: 47px;
    width: 34px;
  }

  .value {
    font-size: 1.2em;
  }

  .Diamonds, .Hearts, .Clubs, .Spades {
    background-size: 16px;
    background-position: center 26px;
  }

  .hide {
  background-image: url("suits_imgs/Back.png") !important;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  }

  /* CONTROLS */
  #controls-wrapper {
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    width: 90%;
    justify-content: space-around;
  }

  .player-controls > h3 {
    margin-bottom: 48px;
  }

  #player1-wrapper, #player2-wrapper, #player3-wrapper, #player4-wrapper {
      height: 205px;
  }


  #dest {
    display: flex;
    flex-direction: column;
  }

  .radio-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 75px;
  }

  #dealEl {
    margin-right: 0;
    width: 69px;
  }

  #resetEl {
    margin-left: 0;
    width: 69px;
  }

  #scoreboard {
    display: flex;
    justify-content: space-around;
    top: 0;
    left: 10%;
    width: 80%;
    border: 1px solid #000;
  }

  .score1 {
    margin: 0;
  }

  .player1-wrapper, .player2-wrapper, .player3-wrapper, .player4-wrapper {
    height: 125px;
    max-width: 150px;
    border: none;
    background-color: #344572;;
  }
  
  .hand-wrapper {
    height: 66px;
    align-items: center;
  }

  .play-container {
    padding: 0;
    justify-content: space-around;
  }

  .count-wrapper {
    width: 60px;
    height: 60px;
  }

  .count {
    font-size: 2rem;
  }

  .player1-pot, .player2-pot {
    width: 226px;
  }

  .player1-pot, .player2-pot, .starter {
    border: none;
    background-color: #344572;
    height: 60px;
  }

  .pots-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: auto;
  }

  .starter {
    padding: 0;
    width: 120px;
  }

  .instructions {
    line-height: 60px;
  }
}